package ${package}.${moduleName}.api.param;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * ${comments}删除记录请求参数.
 *
 * @author ${author}
 * @date ${datetime}
 */
@ApiModel(value = "${comments}删除记录请求参数")
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class ${className}DeleteParam {

    /**
     * id.
     */
    @ApiModelProperty(value = "id", required = true)
    private ${pk.attrType} ${pk.attrname};

}